@font-face {
  font-display: swap;
  font-family: 'Roboto';
  font-style: italic;
  font-weight: normal;
  src: url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;1,300&display=swap');
}

